body {
    height: 100%;
    width: 100%;
}

#player {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#iframe-transcript {
    width: 100%;
    height: 100%;
}

#reading-panel {
    width: 100%;
    /* padding: 20%; */
}

.hide {
    display: none;
}